.lowestpriceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1100px;
  width: 100%;
}
.lowestPrice_texe {
  flex: 1 1 25%;
  width: 50%;
  padding: 25px 0 0 25px;
  margin: 10px;
}
.lowestpriceContainer h1 {
  font-size: 4rem;
  margin: 0;
  color: rgb(36, 31, 31);
}
.lowestPriceWhay {
  display: flex;
  height: 50px;
  margin: 20px 0px;
}
.lowestpriceItem {
  padding: 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  border-right: 2px solid #ccc;
}
.lowestpriceItem p {
  padding-left: 10px;
}
.lowestprice_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(238, 133, 187);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lowestprice_icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.downlodApp_Container p {
  padding: 0px 20px;
}
.downloadAppIcon {
  width: 40px;
  height: 40px;
}
.downlodApp_Container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.downlodApp_Container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 50px;
  background-color: var(--hoverTextColor);
  border: none;
  outline: none;
  padding: 0 20px;
  border-radius: 5px;
  color: white;
}

/* home page right side image */
.lowestPrice_image {
  flex: 1 1 40%;
  margin: 10px 10px 10px 90px;
}
.lowestPrice_image img {
  width: 80%;
  height: 70vh;
  aspect-ratio: 1/1;
}

@media (max-width: 768px) {
  html {
    font-size: 35%;
  }
  .lowestpriceContainer {
    flex-direction: column-reverse;
    margin-top: -700px !important;
  }
  /* home page right side image */

  .lowestPrice_image img {
    width: 300px;
    height: 300px;
    margin: 0 auto !important;
  }
  .lowestPrice_texe {
    width: 100%;
    margin: 0 !important;
  }
  
}
